@import '../../assets/styles/_mediaQueries';
@import '../../assets/styles/_color.scss';

.navigation {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0rem;
  background-color: $white;
  color: black;
  box-shadow: 0 0 10px 0 $dark;
  .brand-name {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    margin-inline-start: 1rem;
  }
  .navigation-menu {
    margin-inline-start: auto;
    ul {
      display: flex;
      align-items: center;
      padding: 0;
      .toggle-item {
        display: flex;
        align-items: center;
        gap: 1rem;
      }
    }
    li {
      // removes default disc bullet for li tags and applies margin to left & right side
      list-style-type: none;
      margin: 0 1rem;
      .nav-item {
        // increases the surface area of the anchor tag to span more than just the anchor text
        text-decoration: none;
        display: block;
        width: 100%;
        cursor: pointer;
      }
    }
  }
  .hamburger {
    border: 0;
    height: 40px;
    width: 40px;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: $primary;
    cursor: pointer;
    transition: background-color 0.8s ease-in-out;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    display: none;
    &:hover {
      background-color: $secondary;
    }
  }
}

@include mobile {
  .navigation {
    .hamburger {
      display: block;
    }
  }
  .navigation-menu {
    &.expanded ul {
      display: none;
    }
    ul {
      position: absolute;
      top: 60px;
      left: 0;
      // stacks the li tags vertically
      flex-direction: column;
      // makes menu span full height and width
      width: 100%;
      height: calc(100vh - 77px);
      background-color: $white;
      border-top: 1px solid $dark;
    }
    li {
      // centers link text and strips off margin
      text-align: center;
      margin: 0;
      &:hover {
        background-color: $light-pink;
      }
      .nav-item {
        color: $dark;
        width: 100%;
        padding: 1.5rem 0;
      }
    }
  }
}

.dark-theme {
  .navigation {
    background-color: $dark-theme-black;
    color: $white;
  }
  background-color: $dark-theme-black;
  color: $white;
  .brand-name {
    color: $white;
  }
  .navigation-menu {
    li {
      color: $white;
      &:hover {
        background-color: unset;
      }
      .nav-item {
        color: $white;
      }
    }
  }
  .hamburger {
    background-color: $secondary;
    &:hover {
      background-color: $primary;
    }
  }
}
